@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/* 
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: normal styles apply
>1800px: big desktop screens
*/

/* 
$breakpoint arguments
- phone
- tab-portrait
- tab-landscape
- big-desktop

ORDER FOR WORKING ON RESPONSIVENESS - Base > Typography > General Layout > Grid > Page layout > Components

1em = 16px
*/
@mixin respond($breakpoint) {
  //600px
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  //900px
  @if $breakpoint == tab-portrait {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  //1200px
  @if $breakpoint == tab-landscape {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  //1800px
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
